@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaKeyword"]">
    <meta name="keywords" content="@ViewData["MetaDescription"]" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/style.css">
</head>

<body class="@ViewData["BodyClass"]">
    <partial name="_Header.cshtml" />
    @RenderBody()
    <partial name="_Footer.cshtml" />
    <!-- jquery js -->
    <script src="~/client-side/js/jquery.min.js"></script>
    <script src="~/client-side/js/jquery.smartmenus.js"></script>
    <!-- bootstrap js -->
    <script src="~/client-side/js/bootstrap.min.js"></script>
    <!-- owl.carousel.min js -->
    <script src="~/client-side/js/owl.carousel.js"></script>

    <script src="~/client-side/js/jquery.sticky.js"></script>
    <script src="~/client-side/js/fotorama.js"></script>
    <script src="~/client-side/js/wow.min.js"></script>
    <script src="~/client-side/js/video.js"></script>
    <script src="~/client-side/js/call-option.js"></script>
    <script src="~/client-side/js/common.js"></script>
   
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/client-app/shared/localize/resources.@(requestCulture.RequestCulture.Culture.Name).js"></script>
    <script src="~/client-app/shared/tedu.js"></script>
    <script src="~/client-app/controllers/base/index.js"></script>

    <script>
        var baseObj = new BaseController();
        baseObj.initialize();
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
