@using LACoreApp.Utilities.Helpers
@model HomeViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["MetaKeyword"] = Model.MetaKeyword;
    ViewData["MetaDescription"] = Model.MetaDescription;
}
@section Scripts{
    <script src="~/client-app/controllers/home/index.js"></script>
    <script>
        var homeObj = new HomeController();
        homeObj.initialize();
    </script>
}
<!-- Slideshow  -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.HomeSlides.Count; i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i" class=@(i==0?"active":"")></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (var i = 0; i < Model.HomeSlides.Count; i++)
        {
            <div class="item @(i==0?"active":"")">
                <a target="_blank" href="@Model.HomeSlides[i].Url"><img src="@Model.HomeSlides[i].Image" alt="@Model.HomeSlides[i].Name"></a>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="icon-prev"><i class="fa fa-angle-left"></i></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="icon-next"><i class="fa fa-angle-right"></i></span></a>
</div>

<section id="s2home-news">
    <div class="container mobile-no-padding-left-right">
        <div class="row">
            <div class="item-content">
                <div class="item_category-name"><span style="color: #931882">Bài viết nổi bật</span></div>
                @foreach (var item in Model.LastestBlogs)
                {
                    <div class="col-md-4">
                        <div class="item_news-block">
                            <figure class="item_img img-intro img-intro__none">
                                <a href="/@(item.SeoAlias).html">
                                    <img src="@item.Image" alt="@item.Name">
                                </a>
                            </figure>
                            <h3 class="item_title"><a href="/@(item.SeoAlias).html">@TextHelper.ToStringLimit(item.Name, 75)</a></h3>
                            <div class="item_introtext">
                                <p>@TextHelper.ToStringLimit(item.Description, 134)</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="item_info">
                                <ul class="item_info_ul">
                                    <li class="fa fa-user">@TextHelper.ToStringLimit(item.Name, 75)</li>
                                    <li class="fa fa-clock-o">@item.DateCreated.ToString("dd-MM-yyyy")</li>
                                    <li class="readmore"><a href="/@(item.SeoAlias).html"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section id="s2home-news">
    <div class="container mobile-no-padding-left-right">
        @foreach (var blogCategory in Model.HomeBlogCategories)
        {
            <div class="item-content boder col-md-6 col-sm-6 col-xs-12 mobile-no-padding-left-right">
                <div class="item_category-name">
                    <a href="/@(blogCategory.SeoAlias).html" style="color: #931882">
                        <span>@TextHelper.ToStringLimit(blogCategory.Name, 75)</span>
                    </a>
                </div>
                @foreach (var blog in blogCategory.Blogs)
                {
                    <figure class="item_img img-intro img-intro__none">
                        <a href="/@(blog.SeoAlias).html">
                            <img src="@blog.Image" alt="@blog.Name">
                        </a>
                    </figure>
                    <h3 class="item_title"><a href="/@(blog.SeoAlias).html">@TextHelper.ToStringLimit(blog.Name, 90)</a></h3>
                    <div class="item_introtext">
                        <p>@TextHelper.ToStringLimit(blog.Description, 200)</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item_info noboder">
                    </div>
                    <div class="clearfix">
                    </div>
                }
            </div>
        }
    </div>
</section>